span{
color: darkorange;
}
.intro{
display: flex;
justify-content: space-between;
margin-right: 55px;
margin-left: 55px;
align-items: center;
}
.link{
display: flex;
}
ul > li{
display: inline;
}
li a {
    text-decoration: none;
    margin-right: 20px;
}
.btn-primary{
padding: 5px;
background-color: darkorange;
border: 2px solid black;
color: white;
}
header{
background-color: antiquewhite;
}
.intro2{
display: flex;
justify-content: space-between;

}
.description{
margin-left: 60px;

}
button{
border: 1px solid orangered;
padding: 5px;
color: orangered;
margin-left: 5px;
}
.img{
margin-right: 50px;
}
.title{
font-size: 20px;
}
.about{
margin: 60px 80px 80px;
text-align: center;
background-color: beige;
padding: 10px;
}
.information{
display: flex;
justify-content: space-between;
margin-right: 200px;
margin-left: 200px;
}
.what{
text-align: center;
}
.skills-container{
display: flex;
justify-content: space-between;
margin:100px 290px 290px;
}